<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>204542691743-1u1aeg53898976o9m7gh0ikgilfsion6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204542691743-1u1aeg53898976o9m7gh0ikgilfsion6</string>
	<key>API_KEY</key>
	<string>AIzaSyDREDEBVCzixPczcLFdKp2-0_8IpbkktL4</string>
	<key>GCM_SENDER_ID</key>
	<string>204542691743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rosehulman.fengy2.Rosuber</string>
	<key>PROJECT_ID</key>
	<string>rosuber-android</string>
	<key>STORAGE_BUCKET</key>
	<string>rosuber-android.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204542691743:ios:023007b411fd9dae</string>
	<key>DATABASE_URL</key>
	<string>https://rosuber-android.firebaseio.com</string>
</dict>
</plist>